---
import OpenToWork from "@/components/others/OpenToWork.astro"
---

<div>
	<div class="flex items-center justify-between pb-1">
		<h2 class="text-lg">
			My name is <span
				class="bg-indigo-400 bg-clip-text text-2xl text-transparent dark:bg-violet-400"
				>Santiago Castro</span
			>
		</h2>
		<OpenToWork />
	</div>
	<hr class="h-[2px] border-gray-300 bg-white dark:border-gray-950/80 dark:bg-white/10" />
	<div class="flex">
		<p class="w-1/2 pt-2 text-gray-600 dark:text-gray-300 text-balance">
			I am a <span class="text-black dark:text-white">software engineer</span> passionate about web development, cloud, blockchain and machine
			learning.<br />
			I look for efficient solutions to concurrent problems.
		</p>
		<div class="relative">

		</div>
	</div>
</div>
