---
import LogoIcon from "../icons/LogoIcon.astro"
---

<a href="#home" class="flex w-16 items-center gap-4 lg:w-full">
	<LogoIcon class="h-10 w-10 rounded-full drop-shadow-md" />
	<p
		class="hidden bg-gradient-to-r from-indigo-400 to-violet-400 bg-clip-text text-3xl font-bold text-transparent drop-shadow-md dark:from-violet-400 dark:to-indigo-400 lg:block"
	>
		Santicm
	</p>
</a>
