<h1 class="relative gap-10 w-min text-nowrap text-6xl text-gray-900 dark:text-gray-100"><slot /></h1>
<div class="scroll-animation h-1 w-10 rounded-full bg-indigo-400 dark:bg-violet-400"></div>

<style>
	.scroll-animation {
		animation: scroll-animation 1s ease-out;
		animation-timeline: view();
	}

	@keyframes scroll-animation {
		0% {
			transform: translateX(100px);
		}
		80% {
			transform: translateX(0);
		}
	}
</style>
