<div class="title-scroll-anim">
	<h1
		class="relative w-min gap-10 text-nowrap text-4xl text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl"
	>
		<slot />
	</h1>
	<div class="scroll-animation h-1 w-[26px] rounded-full bg-indigo-400 dark:bg-violet-400 md:w-10">
	</div>
</div>

<style>
	.scroll-animation {
		animation: scroll-animation 1s ease-out;
		animation-timeline: view();
	}

	.title-scroll-anim {
		animation: fade-in 1s ease-out forwards;
		animation-timeline: view();
		animation-range: entry 10% cover 50%;
	}

	@keyframes scroll-animation {
		0% {
			transform: translateX(100px);
		}
		80% {
			transform: translateX(0);
		}
	}
</style>
<script>
	window.addEventListener("scroll", () => {
		const elements = document.querySelectorAll(".title-scroll-anim")
		elements.forEach((element) => {
			if (element.getBoundingClientRect().bottom < window.innerHeight / 2) {
				element.classList.remove("title-scroll-anim")
			}
		})
	})
</script>
