---
import TimelineItem from "@/components/text/TimelineItem.astro"

interface DateRange {
	date: string
	title: string
	institution: string
	institutionUrl: string
	current?: boolean
}

interface Props {
	dateRanges: DateRange[]
}

const { dateRanges } = Astro.props
---

<div class="list-gradient flex h-full w-full overflow-y-scroll px-4">
	<ol class="relative mb-4 h-max border-s border-gray-300 pt-1 dark:border-gray-700 [&>li]:mb-2">
		{dateRanges.map((dateRange) => <TimelineItem {...dateRange} />)}
	</ol>
</div>
<style>
	.list-gradient {
		mask: linear-gradient(transparent, black 5%, black 85%, transparent);
		scrollbar-width: none;
	}
</style>
