---
interface Props {
	date: string
	title: string
	institution: string
	institutionUrl: string
	current?: boolean
}

const {
	date,
	title,
	institution,
	institutionUrl,
	current = false,
} = Astro.props
---

<li class="ms-4">
	{
		current ? (
			<div class="absolute -start-1.5 mt-2 h-3 w-3 rounded-full border border-indigo-100 bg-indigo-300 after:absolute after:-inset-[25%] after:-z-10 after:aspect-square after:h-[150%] after:rounded-full after:bg-indigo-400 after:blur-sm dark:border-violet-400 dark:bg-violet-500 dark:after:bg-violet-500" />
		) : (
			<div class="absolute -start-1.5 mt-2 h-3 w-3 rounded-full border border-white bg-gray-300 dark:border-gray-900 dark:bg-gray-700" />
		)
	}
	<time
		class="mb-1 text-xs font-normal leading-none text-gray-400 dark:text-gray-500"
		>{date}</time
	>
	<h3 class="text-base text-gray-900 dark:text-white">
		{title}
	</h3>
	<a
		class="text-sm font-normal text-gray-500 hover:underline focus:outline-indigo-400 dark:text-gray-400 dark:focus:outline-violet-400"
		href={institutionUrl}>{institution}</a
	>
</li>
