<h2
	class="relative text-center text-3xl font-medium text-gray-900 [text-wrap:balance] dark:text-gray-50 sm:text-6xl md:animate-tracking-in-expand"
>
	Hi! I'm{" "}
	<span
		class="inline-flex bg-gradient-to-r from-neutral-900 via-indigo-400 bg-[200%_auto] bg-clip-text leading-loose text-transparent dark:from-neutral-100 dark:via-violet-400"
	>
		Santiago
	</span>
</h2>
