---
import { getLangFromUrl, useTranslations } from "@/lib/utils/i18n"
import ColombiaIcon from "../icons/ColombiaIcon.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="flex flex-col gap-2">
	<h1
		class="xl:animate-tracking-in-expand text-balance text-center text-3xl font-semibold text-gray-900 sm:text-[2.75rem] md:text-start 2xl:text-6xl dark:text-gray-100"
	>
		{t("home.title.greeting")}
		<span
			class="bg-linear-to-r bg-size-[200%_auto] inline-flex from-gray-900 via-indigo-400 bg-clip-text leading-loose text-transparent dark:from-gray-100 dark:via-violet-400"
		>
			Santiago
		</span>
	</h1>
	<p
		class="xl:animate-tracking-in-expand relative text-center text-gray-900 md:-top-4 xl:text-start dark:text-gray-100"
	>
		<span>{t("home.title.a")}</span>
		<span class="text-indigo-400 dark:text-violet-400">
			{t("home.title.systems-engineer")}
		</span>
		<span class="inline">{t("home.title.from-colombia")}</span>
		<ColombiaIcon class="mb-1 inline h-4 w-6" />
	</p>
</div>
