---
import TimelineItem from "./TimelineItem.astro"
---

<div class="list-gradient flex h-full w-full overflow-scroll px-4 pb-0">
	<ol class="relative h-max border-s border-gray-300 pt-1 dark:border-gray-700">
		<TimelineItem
			current
			date="July 2024 → Now"
			title="Head of development"
			description="Bucks"
		/>
		<TimelineItem
			date="July 2023 → November 2023"
			title="Student tutor - Data structures"
			description="Pontificia Universidad Javeriana"
		/>
		<TimelineItem
			date="July 2022 → November 2022"
			title="Student tutor - Introduction to programming"
			description="Pontificia Universidad Javeriana"
		/>
	</ol>
</div>
<style>
	@media (min-width: 768px) {
		.list-gradient {
			mask: linear-gradient(transparent, black 5%, black 85%, transparent);
		}
	}
</style>
