---
import ThemeToggle from "@/components/buttons/ThemeToggleButton.astro"
import MenuItemGroup from "@/components/menu/MenuItemGroup"
import Logo from "@/components/text/Logo.astro"
---

<>
	<header
		id="menu"
		class="fixed z-20 h-16 w-full animate-slide-in-top bg-slate-200/60 backdrop-blur-xl dark:bg-gray-950/60"
	>
		<nav class="m-auto flex h-full w-2/3 items-center justify-between px-1 md:gap-0">
			<Logo />
			<MenuItemGroup client:load />
			<ThemeToggle class="flex justify-end" />
		</nav>
	</header>
	<div class="absolute top-0 h-16 w-full bg-slate-200 dark:bg-gray-950"></div>
	<hr class="absolute top-16 w-full border-slate-300 dark:border-slate-800" />
</>
