---
interface Props {
	name: string
	href: string
	selected: boolean
	onSelect: (name: string) => void
}

const { name, href, selected } = Astro.props
---

<>
	<a
		id={`menu-item-${name}`}
		menu-item
		href={href}
		class:list={[
			"inline-block text-sm font-semibold text-slate-500 transition duration-300 dark:text-slate-200",
			selected ? "-translate-y-1" : "group-hover:-translate-y-1",
		]}
	>
		{name}
	</a>
	<div
		class:list={[
			"absolute bottom-0 h-[2px] w-0 rounded-full bg-indigo-400 transition-all duration-300",
			selected ? "w-full" : "group-hover:w-full",
		]}
	>
	</div>
</>
