---
import OpenToWork from "@/components/others/OpenToWork.astro"
import { getLangFromUrl, useTranslations } from "@/utils/i18n"
import AboutText from "../text/AboutText"

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)
const openToWork = false
---

<div>
	<div class="flex items-center justify-between pb-1">
		<h2 class="text-gray-500 dark:text-gray-400">
			{t("about.me.my-name")}
			<span
				class="bg-indigo-400 bg-clip-text text-lg font-bold text-transparent dark:bg-violet-400"
				>Santiago Castro</span
			>
		</h2>
		{openToWork && <OpenToWork />}
	</div>
	<hr
		class="h-[2px] border-gray-300 bg-white dark:border-gray-950/80 dark:bg-white/10"
	/>
	<AboutText lang={lang} />
</div>
