---
interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<div
	class:list={[
		"bento-item group/bento row-span-1 flex flex-col justify-between space-y-4 rounded-xl border border-white bg-white/20 p-4 outline-1 outline-gray-300 transition duration-200 shadow-xl dark:border-white/10 dark:bg-gray-700/20 dark:shadow-none dark:outline-gray-950",
		className,
	]}
>
	<slot name="header" />
	<div class="h-full">
		<slot name="title" />
	</div>
</div>
<style>
	.bento-item {
		outline-style: solid;
	}
</style>
