---
interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<div
	class:list={[
		"fade-in-scroll group/chip row-span-1 flex flex-col justify-between rounded-xl border border-white bg-white/20 p-4 shadow-xl outline outline-1 outline-gray-300 dark:border-white/10 dark:bg-gray-700/30 dark:shadow-none dark:outline-gray-700/20",
		className,
	]}
>
	<slot name="header" />
	<div class="my-auto h-[85%]">
		<slot />
	</div>
</div>
