---
import type { Project } from "@/models/project"
import { Image } from "astro:assets"

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class="fade-in-scroll p-4 flex flex-col outline outline-1 border shadow-xl rounded-xl border-white bg-white/20 outline-gray-300 transition duration-200 dark:border-white/10 dark:bg-gray-700/30 dark:shadow-none dark:outline-gray-700/20">
  <Image src={project.image} alt={project.title} class="rounded-xl object-cover h-40 shadow-lg" height={400} width={400} />
  <h2 class="font-bold mt-2">{project.title}</h2>
  <p class="text-sm text-gray-400">{project.description}</p>
</div>
