---
import type { Project } from "@/models/project"
import { Image } from "astro:assets"

interface Props {
	project: Project
}

const { project } = Astro.props
---

<div
	class="fade-in-scroll z-10 flex flex-col rounded-xl border border-white bg-white/20 p-4 shadow-xl outline outline-1 outline-gray-300 transition duration-200 dark:border-white/10 dark:bg-gray-700/30 dark:shadow-none dark:outline-gray-700/20"
>
	<Image
		src={project.image}
		alt={project.title}
		class="aspect-[7/4] w-full rounded-xl object-cover shadow-lg"
		height={400}
		width={400}
	/>
	<h2 class="mt-2 font-bold">{project.title}</h2>
	<p class="text-sm text-gray-400">{project.description}</p>
</div>
