---
import LanguageIcon from "../icons/LanguageIcon.astro"
---

<div class="relative mx-2">
	<LanguageIcon class="text-slate-500 dark:text-slate-200" />
	<div class="group absolute left-1/2 top-0 min-h-full min-w-full -translate-x-1/2 cursor-pointer">
		<div
			class="mt-12 hidden h-4 w-8 flex-col rounded-lg border border-white bg-white/60 p-4 shadow-xl outline-1 outline-gray-300 backdrop-blur-lg duration-200 group-hover:flex dark:border-white/10 dark:bg-gray-800/70 dark:shadow-none dark:outline-gray-700/20"
		>
		</div>
	</div>
</div>
