---
import SectionTitle from "@/components/text/SectionTitle.astro"
import BouncyLoader from "@/components/loaders/BouncyLoader.astro"
import BentoGrid from "@/components/containers/BentoGrid.astro"
import BentoGridItem from "@/components/containers/BentoGridItem.astro"
import Vinyl from "@/components/others/Vinyl.astro"
import Chip from "@/components/text/Chip.astro"
import IconCloud from "@/components/others/IconCloud.tsx"
---

<section id="about" class="relative z-10 mx-auto min-h-screen max-w-[70rem] p-4 md:p-20">
	<SectionTitle>
		About me
		<BouncyLoader class="absolute left-full -translate-x-5 -translate-y-3" />
	</SectionTitle>
	<BentoGrid>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header">Me</Chip>
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header">Experience</Chip>
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:row-span-3">
			<Chip slot="header">Education</Chip>
		</BentoGridItem>
		<BentoGridItem class="col-span-2">
			<div slot="title" class="flex h-full items-center">
				<Vinyl />
				<div class="mx-4 flex flex-col">
					<span class="line-clamp-1">Wake up</span>
					<span class="line-clamp-1 text-neutral-600 dark:text-neutral-400">Imagine Dragons</span>
				</div>
			</div>
		</BentoGridItem>
		<BentoGridItem class="aspect-square min-h-40 md:col-span-2 md:row-span-3 md:aspect-auto">
			<Chip slot="header">Stack</Chip>
			<div slot="title" class="relative h-full w-full">
				<IconCloud client:only />
			</div>
		</BentoGridItem>
		<BentoGridItem class="md:col-span-2 md:row-span-2">
			<Chip slot="header">Hobbies</Chip>
		</BentoGridItem>
	</BentoGrid>
</section>
