---
import SectionTitle from "@/components/text/SectionTitle.astro"
import BouncyLoader from "@/components/loaders/BouncyLoader.astro"
import BentoGrid from "@/components/containers/BentoGrid.astro"
import BentoGridItem from "@/components/containers/BentoGridItem.astro"
import Vinyl from "@/components/others/Vinyl.astro"
import Chip from "@/components/text/Chip.astro"
import IconCloud from "@/components/others/IconCloud.tsx"
import HandMetalIcon from "@/components/icons/HandMetalIcon.astro"
import StudyIcon from "@/components/icons/StudyIcon.astro"
import StackIcon from "@/components/icons/StackIcon.astro"
import PianoIcon from "@/components/icons/PianoIcon.astro"
import HandshakeIcon from "@/components/icons/HandshakeIcon.astro"
import AboutText from "@/components/text/AboutText.astro"
import WorkingExperience from "@/components/text/WorkingExperience.astro"
---

<section id="about" class="relative z-10 mx-auto min-h-screen max-w-[70rem] p-4 md:p-20">
	<SectionTitle>
		About me
		<BouncyLoader class="absolute left-full -translate-y-3" />
	</SectionTitle>
	<BentoGrid>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header"><HandMetalIcon class="w-6 pr-2" />Me</Chip>
			<div class="h-full w-full px-2">
				<AboutText />
			</div>
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header"><HandshakeIcon class="w-6 pr-2" /> Work Experience</Chip>
			<WorkingExperience />
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:row-span-3">
			<Chip slot="header"><StudyIcon class="w-6 pr-2" />Education</Chip>
		</BentoGridItem>
		<BentoGridItem class="col-span-2">
			<div class="flex h-full items-center">
				<Vinyl />
				<div class="mx-4 flex flex-col">
					<span class="line-clamp-1">Wake up</span>
					<span class="line-clamp-1 text-gray-500 dark:text-gray-400">Imagine Dragons</span>
				</div>
			</div>
		</BentoGridItem>
		<BentoGridItem class="aspect-square min-h-40 md:col-span-2 md:row-span-3 md:aspect-auto">
			<Chip slot="header"><StackIcon class="w-6 pr-2" />Stack</Chip>
			<div class="relative h-full w-full">
				<IconCloud client:only />
			</div>
		</BentoGridItem>
		<BentoGridItem class="md:col-span-2 md:row-span-2">
			<Chip slot="header"><PianoIcon class="w-6 pr-2" />Hobbies</Chip>
		</BentoGridItem>
	</BentoGrid>
</section>
