---
import SectionTitle from "@/components/text/SectionTitle.astro"
import BouncyLoader from "@/components/loaders/BouncyLoader.astro"
import BentoGrid from "@/components/containers/BentoGrid.astro"
import BentoGridItem from "@/components/containers/BentoGridItem.astro"
import Vinyl from "@/components/others/Vinyl.astro"
import Chip from "@/components/text/Chip.astro"
import IconCloud from "@/components/others/IconCloud.tsx"
import HandMetalIcon from "@/components/icons/HandMetalIcon.astro"
import StudyIcon from "@/components/icons/StudyIcon.astro"
import StackIcon from "@/components/icons/StackIcon.astro"
import PianoIcon from "@/components/icons/PianoIcon.astro"
import HandshakeIcon from "@/components/icons/HandshakeIcon.astro"
import WorkingExperience from "@/components/text/WorkingExperience.astro"
import Education from "@/components/text/Education.astro"
import RunningIcon from "@/components/icons/RunningIcon.astro"
import TennisIcon from "@/components/icons/TennisIcon.astro"
import ChessIcon from "@/components/icons/ChessIcon.astro"
import HobbiesIcon from "@/components/icons/HobbiesIcon.astro"
import MusicIcon from "@/components/icons/MusicIcon.astro"
import CodeIcon from "@/components/icons/CodeIcon.astro"
import PuzzleIcon from "@/components/icons/PuzzleIcon.astro"
import VideoGames from "@/components/icons/VideoGames.astro"
import { getLangFromUrl, useTranslations } from "@/utils/i18n"
import AboutMe from "@/components/containers/AboutMe.astro"

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)
---

<section
	id="about"
	class="relative z-10 mx-auto min-h-screen max-w-[70rem] p-4 md:p-20"
>
	<SectionTitle>
		{t("about.title")}
		<BouncyLoader
			class="absolute left-full ml-2 -translate-y-2 md:-translate-y-3"
		/>
	</SectionTitle>
	<BentoGrid>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header"
				><HandMetalIcon class="w-6 pr-2" />{t("about.label.me")}</Chip
			>
			<div class="h-full w-full px-2">
				<AboutMe />
			</div>
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:col-span-3 md:row-span-3">
			<Chip slot="header"
				><HandshakeIcon class="w-6 pr-2" />{
					t("about.label.work-experience")
				}</Chip
			>
			<WorkingExperience />
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:row-span-3">
			<Chip slot="header"
				><StudyIcon class="w-6 pr-2" />{t("about.label.education")}</Chip
			>
			<Education />
		</BentoGridItem>
		<BentoGridItem class="col-span-2">
			<div class="flex h-full items-center">
				<Vinyl />
				<div class="mx-4 flex flex-col">
					<span class="line-clamp-1">Wake up</span>
					<span class="line-clamp-1 text-gray-500 dark:text-gray-400"
						>Imagine Dragons</span
					>
				</div>
			</div>
		</BentoGridItem>
		<BentoGridItem
			class="col-span-2 aspect-square min-h-40 md:row-span-3 md:aspect-auto"
		>
			<Chip slot="header"
				><StackIcon class="w-6 pr-2" />{t("about.label.tech-stack")}</Chip
			>
			<div class="relative h-full w-full aspect-square lg:aspect-auto">
				<IconCloud client:only="react" />
			</div>
		</BentoGridItem>
		<BentoGridItem class="col-span-2 md:row-span-2">
			<Chip slot="header"
				><HobbiesIcon class="w-6 pr-2" />{t("about.label.hobbies")}</Chip
			>
			<div class="h-full w-full p-2">
				<div class="grid grid-cols-5 grid-rows-3 gap-4">
					<span class="col-span-2 text-right">{t("about.hobbies.sports")}:</span
					>
					<div class="col-span-3 flex gap-2">
						<TennisIcon class="stroke-indigo-400 dark:stroke-violet-400" />
						<RunningIcon class="stroke-indigo-400 dark:stroke-violet-400" />
						<ChessIcon class="stroke-indigo-400 dark:stroke-violet-400" />
					</div>
					<span class="col-span-2 text-right">{t("about.hobbies.music")}:</span>
					<div class="col-span-3 flex gap-2">
						<PianoIcon class="stroke-indigo-400 dark:stroke-violet-400" />
						<MusicIcon class="stroke-indigo-400 dark:stroke-violet-400" />
					</div>
					<span class="col-span-2 text-right">{t("others")}:</span>
					<div class="col-span-3 flex gap-2">
						<CodeIcon class="stroke-indigo-400 dark:stroke-violet-400" />
						<PuzzleIcon class="stroke-indigo-400 dark:stroke-violet-400" />
						<VideoGames class="stroke-indigo-400 dark:stroke-violet-400" />
					</div>
				</div>
			</div>
		</BentoGridItem>
	</BentoGrid>
</section>
