---
import { Image } from "astro:assets"

import SocialButton from "@/components/buttons/SocialButton.astro"
import GitHubIcon from "@/components/icons/GitHubIcon.astro"
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro"
import Title from "@/components/text/Title.astro"
import littleManCodingImage from "/public/little_man_coding.webp"
---

<section id="home" class="relative z-10 mx-auto flex h-screen w-2/3 items-center justify-around">
	<div class="flex h-1/4 w-10 flex-col items-center justify-center gap-y-20">
		<SocialButton href="https://github.com/Santicm23" name="GitHub">
			<GitHubIcon
				class="w-8 duration-200 hover:scale-125 hover:stroke-indigo-400 dark:stroke-neutral-100 dark:hover:stroke-indigo-400"
			/>
		</SocialButton>
		<SocialButton href="https://www.linkedin.com/in/santiago-castro-muñoz/" name="LinkedIn">
			<LinkedInIcon
				class="w-8 duration-200 hover:scale-125 hover:stroke-indigo-400 dark:stroke-neutral-100 dark:hover:stroke-indigo-400"
			/>
		</SocialButton>
	</div>
	<div class="h-1/4 w-[2px] bg-slate-800 dark:bg-slate-300"></div>
	<Title />
	<Image
		class="mask-image aspect-square w-56 rounded-full object-cover"
		src={littleManCodingImage}
		alt="little man coding"
		loading="eager"
	/>
</section>

<style>
	.mask-image {
		mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 40%, transparent 50%);
	}
</style>
<div class="w-[2px]"></div>
