---
import { Image } from "astro:assets"

import SocialButton from "@/components/buttons/SocialButton.astro"
import CVIcon from "@/components/icons/CVIcon.astro"
import GitHubIcon from "@/components/icons/GitHubIcon.astro"
import LinkedInIcon from "@/components/icons/LinkedInIcon.astro"
import Title from "@/components/text/Title.astro"
import littleManCodingImage from "../../public/images/little_man_coding.webp"
import ScrollDownLoader from "@/components/loaders/ScrollDownLoader.astro"
---

<section
	id="home"
	class="animate-fade-in relative z-10 mx-auto flex h-screen w-2/3 flex-col-reverse items-center justify-center gap-4 xl:flex-row xl:justify-around"
>
	<div class="flex w-10 flex-row items-center justify-center gap-y-20 xl:flex-col">
		<SocialButton href="https://github.com/Santicm23" name="GitHub">
			<GitHubIcon
				class="w-8 duration-200 hover:scale-125 hover:stroke-indigo-400 dark:stroke-neutral-100 dark:hover:stroke-violet-400"
			/>
		</SocialButton>
		<SocialButton href="https://www.linkedin.com/in/santiago-castro-muñoz/" name="LinkedIn">
			<LinkedInIcon
				class="w-8 duration-200 hover:scale-125 hover:stroke-indigo-400 dark:stroke-neutral-100 dark:hover:stroke-violet-400"
			/>
		</SocialButton>
		<SocialButton href="/pdfs/cv-santiago-castro-munoz.pdf" name="CV">
			<CVIcon
				class="w-8 duration-200 hover:scale-125 hover:stroke-indigo-400 dark:stroke-neutral-100 dark:hover:stroke-violet-400"
			/>
		</SocialButton>
	</div>
	<div class="h-[2px] w-2/3 bg-slate-800 dark:bg-slate-300 xl:h-1/4 xl:w-[2px]"></div>
	<Title />
	<Image
		class="mask-image filter-image dark-filter-image aspect-square w-32 rounded-full object-cover md:w-56"
		src={littleManCodingImage}
		alt="little man coding"
		loading="eager"
	/>
	<ScrollDownLoader class="absolute bottom-12 left-1/2 -translate-x-1/2" />
</section>

<style>
	.mask-image {
		mask-image: radial-gradient(ellipse 100% 100% at 50% 50%, black 40%, transparent 50%);
	}

	.filter-image {
		filter: sepia() saturate(300%) hue-rotate(205deg);
	}

	html.dark .dark-filter-image {
		filter: sepia() brightness(80%) saturate(300%) hue-rotate(210deg);
	}
</style>
